/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}
/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Almennt */

/** Letur og stærðir **/

/*** Grunnstærð er 16px ***/
html {
  font-size: 16px;
}

/*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
@font-face {
  font-family: "Matemasie";
  src: 
    url("fonts/Matemasie/Matemasie-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: 
    url("fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

/*** Allt meginmál notar open sans ***/
html,
input,
select,
button {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*** Allar fyrirsagnir nota Matemasie regular ***/
h1,
h2,
h3,
legend {
  font-family: "Matemasie", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
}

section, img, form {
  margin-bottom: 1rem;
  max-width: 900px;
}

/**
 * Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
 * Við förum yfir flexbox í viku 4 en þangað til er hægt að nota þetta
 * sem grunn og án breytinga.
 * Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
 * innan <body>.
 */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  background-color: #f3dd99;


  /*max-width: 900px;*/
}

.wrapper main {
  flex: 1;
}

/* Það sem fylgir er tillaga að uppbyggingu á selectorum fyrir verkefnið */

/** Haus á síðum **/

header {
  background-color: #cc99bb;
  text-align: center;
  padding: 1rem;
}


/** Valmynd **/

nav {
  background-color: #eebbdd;
  padding: 1rem;
  
  border-bottom: 4px solid #cc99bb;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav ul li:last-child {
  margin-right: 0;
}

.valinsida {
  text-decoration: none;
  font-weight: bold;
}

/* TODO Skilgreina aðra selectora fyrir valmynd */

/** Meginmál og efni forsíðu **/

main {
  padding: 1rem;
  display: flex;
  max-width: 900px;
  margin: auto;
}

.vinstriContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.haegriContent {
  padding-left: 1rem;
}

main img {
  max-width: 297px;
  max-height: 217px;
  border-radius: 5px;
}

/** Fótur **/

footer {
  background-color: #eebbdd;
  padding: 1rem;
  text-align: center;
  border-top: #cc99bb 4px solid;
  margin-top: 1rem;
}

/* Ef við notum section fyrir hvert svæði undir fót, þá er hægt að nota eftirfarandi */
footer > section {
  display: inline-block;
  /* Lætur efni byrja efst í línu, almennt myndum við nota flexbox hér! */
  vertical-align: top;
  /* TODO fleiri skilgreiningar */
}

footer > section > ul {
  display: grid;
  list-style: none;
}

footer dl dt {
  font-weight: bold;
}

footer section h2 {
  padding: 0 1rem 1rem 1rem;
}

footer section dl dd {
  padding-bottom: 1rem;
}

/** Spilasíða, töflustílar **/

table {
  border-spacing: 0 ;
  border-collapse: separate;
  margin: 1rem;
}

tr:nth-child(odd) {
  background-color: #eebbdd;
}

tr:nth-child(even) {
  background-color: #f3dd99;
}

th {
  padding: 0.5rem;
  text-align: left;
}

td {
  padding: 0.5rem;
}

.spilMain {
  display:flex;
  flex-direction: column;
}

table img {
  max-width: 220px;
  max-height: 200%;
  border-radius: 5px;
  margin: 0;
  float: right;
}

.spilMain p:first-child {
  padding-left: 1rem;
}

tr td:last-child {
  white-space: nowrap;
}

/** Viðburðir **/

.event {
  flex-direction: column;
}

.event section {
  display: flex;
}

.event h2 {
  margin-bottom: 1rem;
}

.eventVinstri {
  flex-direction: column;
}

.eventVinstri img {
  max-width: 200px;
}

.eventHaegri {
  margin-top: 2rem;
  padding: 1rem;
}

/** Skráningarform **/

.skraningMain {
  display: block;
  width: 100%;
}

input, select, textarea {
  width: 100%;
  height: 40px;
  margin-bottom: 1rem;
  background-color: #eebbdd;
  border-radius: 5px;
  border: solid 1.5px #000;
}

.skraningMain h1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.skraningMain div {
  width: 50%;
  margin-bottom: 0.5rem;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
}

input[type="submit"] {
  background-color: #eebbdd;
  border-radius: 5px;
  cursor: pointer;
  width: 75px;
}

fieldset {
  border: none;
}